
@import url('https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
background-image: linear-gradient(to left, rgb(92, 76, 76), rgb(238, 55, 55));
text-align: center;
color: white;
}

h1{
font-size: 5rem;
font-family: 'Rubik Vinyl', system-ui;
letter-spacing: 3px;
padding: 20px;

}

.main{
margin: auto;
text-align: justify;
padding: 20px;
width: 80%;
height: 250px;
border-radius: 10px;
margin-bottom: 20px;
background-image: linear-gradient(to left, rgb(124, 116, 116), rgb(248, 230, 230));
overflow: hidden;
transition: transform 0.3s ease; 
}

.main:hover{
transform: scale(1.2)
}

img{
width: 300px; 
/* width: 40%; */
float:left;
margin-top: 10px;
margin-left: 10px;
margin-right: 20px;
padding: 10px;
cursor: pointer;
transition: transform 0.3s ease;
}

img:hover{
transform: scale(1.2)
}

h2{
    font-size: 2rem;
    color: rgba(255, 68, 0, 0.769);
    padding: 20px;
}

p{
   font-size: 1.2rem;
}

a{
    display: inline-block;
    float: right;
    border: 1px solid rgb(255, 0, 0);
    text-decoration: none;
    color: white;
    padding: 10px;
    background-color: rgb(234, 98, 98);
    margin-top: 30px;
    margin-right: 20px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

a:hover{
    background-color: rgb(234, 98, 98);
    cursor: pointer;
    transform: scale(1.2);

    
}
